@media only screen and (min-width : 120px) and (max-width : 320px)
{
	#container-projects .wide,#container-projects .regular,#container-projects .wide_big_height{width: 100%;}
	#container-projects .wide img,#container-projects .regular img,#container-projects .wide_big_height img{width: 100%;height:auto;}
	a.logo_link{float: left; width: 46px;}
	.quote_block h1 i {top:0px;}
	.services_home10 .services-box h2 {font-size:14px;}
	.services_home2 .services-box h2 {font-size: 22px;}
	.number-facts{font-size:32px; padding:10px 0;}
	.image-block{margin-top:100px;}
	.slide{background-repeat:repeat !important; overflow:hidden !important;}
	.quote_block h1{font-size:24px; line-height:1em;}
	.services_home3 .servicesnumber, .services_home3 .servicesnumber-image {float:none;}
	.services_home3 .services-box h2, .services_home3 p{padding-left:0;}
	.col-md-6:nth-child(2n+1),.col-md-3:nth-child(2n+1),.col-md-4:nth-child(2n+1),.col-md-2:nth-child(2n+1){clear:both;}
	.view-overlay h2{font-size:18px !important;}
}

@media only screen and (min-width : 280px) and (max-width : 480px) 
{
	#container-projects .wide,#container-projects .regular,#container-projects .wide_big_height{width: 100%;}
	#container-projects .wide img,#container-projects .regular img,#container-projects .wide_big_height img{width: 100%;height:auto;}
	.quote_block h1 i {top:0px;}
	.services_home10 .services-box h2 {font-size:16px;}
	.number-facts{font-size:32px; padding:10px 0;}
	#mega_main_menu .nav_logo .logo_link img{max-width:100%;}
	.title-heading h1{font-size:32px !important;}
	body{background-attachment:scroll !important;}
	.header-social ul {float:left; padding:30px 0;}
	#mega_main_menu.direction-horizontal > .menu_holder.sticky_container{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
	.menu_inner {background:rgba(0,0,0,.85); padding:15px; position:absolute; top:-32px}
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner {width: 100% !important;}	
	.fullwidthbanner-container {top: -65px; margin-bottom:20px !important}
	.portfolio_block_full_screen .col-lg-3{width:100%;}
	.portfolio_block_full_screen .col-lg-4{width:100%;}
    .portfolio_block_full_screen .col-lg-6{width:100%;}
	.custom-column-background{background-repeat:repeat !important}
	.slide{height:auto !important;}
	.footer-box{clear:both}
	footer .big_phone .big_text {font-size: 42px; line-height:1em;}
	.shout-box-title {font-size: 42px; letter-spacing:-1px; padding-top: 75px;}
	.sidebar table#wp-calendar td,table#wp-calendar th, table#wp-calendar tr{ padding:10px 0; text-align:center; }
	.image-block{margin-top:100px;}
	.global-buttons-center{text-align:center !important;}
	.global-buttons-center a{margin-left:0px !important; margin-right:0px !important;}
	.slide{background-repeat:repeat !important; overflow:hidden !important;}
	.quote_block h1{font-size:32px;line-height:1em;}
	.services_home3 .servicesnumber, .services_home3 .servicesnumber-image {float:none;}
	.services_home3 .services-box h2, .services_home3 p{padding-left:0;}
	a.logo_link{float: left; width: 56px;}
	.col-md-6:nth-child(2n+1),.col-md-3:nth-child(2n+1),.col-md-4:nth-child(2n+1),.col-md-2:nth-child(2n+1){clear:both;}
	.view-overlay h2{font-size:24px !important;}
	.blog_posts_block1 #nothing_found h1{font-size:32px;}
	.blog_posts_block1 #nothing_found i{clear:both; display:table;}
}

@media only screen and (min-width : 481px) and (max-width : 768px) 
{
	#container-projects .wide,#container-projects .regular,#container-projects .wide_big_height{width: 100%;}
	#container-projects .wide img,#container-projects .regular img,#container-projects .wide_big_height img{width: 100%;height:auto;}
	.quote_block h1 i {top:0px;}
	body{background-attachment:scroll !important;}
	.header-social ul {float:left; padding:30px 0;}
	#mega_main_menu.direction-horizontal > .menu_holder.sticky_container{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
	.menu_inner {background:rgba(0,0,0,.85); padding:15px; position:absolute; top:-32px}
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner {width: 100% !important;}	
	.fullwidthbanner-container {top: -65px; margin-bottom:60px !important}
	.portfolio_block_full_screen .col-lg-3{width:49.98%;}
	.portfolio_block_full_screen .col-lg-4{width:49.98%;}
	.portfolio_block_full_screen .col-lg-6{width:49.98%;}
	.custom-column-background{background-repeat:repeat !important}
	.slide{height:auto !important;}
	.footer-box{clear:both}
	footer .big_phone .big_text {font-size: 56px;}
	.shout-box-title {font-size: 56px;letter-spacing:-2px; padding-top: 30px;}
	.global-buttons-center{text-align:center !important;}
	.slide{background-repeat:repeat !important;}
	.quote_block h1{font-size:48px;}
	.col-md-6:nth-child(2n+1),.col-md-3:nth-child(2n+1),.col-md-4:nth-child(2n+1),.col-md-2:nth-child(2n+1){clear:both;}
	.col-md-4:nth-child(3n+1){clear:none !important;}
}
	
@media only screen and (min-width : 769px) and (max-width : 960px) 
{
	#container-projects .wide img,#container-projects .regular img,#container-projects .wide_big_height img{height:auto;}
	.col-md-4:nth-child(3n+1){clear:none !important;}
	#blog-grid-2 .col-md-6:nth-child(2n+1){clear:left}
	#blog-grid-3 .col-md-4:nth-child(3n+1){clear:left}

	.blog_posts_block1 .col-md-6:nth-child(2n+1){clear:left}
	.blog_posts_block1 .col-md-4:nth-child(3n+1){clear:left}
	.blog_posts_block1 .col-md-3:nth-child(4n+1){clear:left}

	[id*='aq-block-'] .blog_posts_block1 .col-md-6:nth-child(2n+1){clear:none}
	[id*='aq-block-'] .blog_posts_block1 .col-md-4:nth-child(3n+1){clear:none}
	[id*='aq-block-'] .blog_posts_block1 .col-md-3:nth-child(4n+1){clear:none}

	ul.products .col-md-6:nth-child(2n+1){clear:none}
	ul.products .col-md-2:nth-child(6n+1){clear:none}
	ul.products .col-md-3:nth-child(4n+1){clear:none}
	ul.products .col-md-4:nth-child(3n+1){clear:none}
	.custom-column-background{background-repeat:repeat !important}
	.slide{height:auto !important;}
	.footer-box{clear:both}
	footer .big_phone .big_text {font-size: 72px;}
	.shout-box-title {font-size: 72px;top:letter-spacing:-3px; padding-top: 30px;}
}	

@media (max-width:1200px) {
	.custom-column-background{background-repeat:repeat !important}
}

@media (max-width:1009px) {
	body{background-attachment:scroll !important;}
	.header-social ul {float:left; padding:30px 0;}
	.custom-column-background{background-repeat:repeat !important}
	.slide{height:auto !important;}
}

@media only screen and (min-width : 961px) and (max-width : 1600px) 
{
	#container-projects .wide img,#container-projects .regular img,#container-projects .wide_big_height img{height:auto;}
	@media screen and (-webkit-min-device-pixel-ratio:0) { #container-projects .wide_big_height img {margin-bottom:1px;}} /* Fix 1 dead pixel in chrome */
}	
