/* custom icons */
#mega_main_menu *[class*="ci-icon-"],
.bootstrap *[class*="ci-icon-"]
{
	position: relative;
	display: inline-block;
}
#mega_main_menu *[class*="ci-icon-"]:before,
.bootstrap *[class*="ci-icon-"]:before
{
	content: '\320';
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	color: transparent;
}
/* extended css fixes */
#mega_main_menu *[class*="fa-icon-"]:before,
#mega_main_menu *[class*="im-icon-"]:before
{
	vertical-align: baseline;
	line-height: inherit;
	text-align: center;
	color: inherit;
}
/* common */
style
{
	display: none !important;
	max-width: 0px !important;
	max-height: 0px !important;
	visibility: hidden !important;
	opacity: 0 !important;
}
#mega_main_menu * .sf-sub-indicator 
{
	display: none !important; 
}
#mega_main_menu:before,
#mega_main_menu:after,
.mm_clearfix:before,
.mm_clearfix:after
{
	content: ' ';
	display: table;
	clear: both;
	float: none;
	width: 100%;
	height: 0px;
}
/*
body 
{
	overflow-x: hidden;
}
body.wp-admin
{
	overflow-x: visible;
}
*/
#mega_main_menu
{
	float: none;
	position: relative;
	margin: 0px;
}
#mega_main_menu + #mega_main_menu
{
	display: none;
}
#mega_main_menu *
{
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	-o-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
#mega_main_menu *
{
	line-height: 131%;
}
#mega_main_menu a
{
	cursor: default;
}
#mega_main_menu a[href]
{
	cursor: pointer;
}
#mega_main_menu ul
{
	position: relative;
	margin: 0px;
	padding: 0px;
} 
#mega_main_menu,
#mega_main_menu > .menu_holder,
#mega_main_menu > .menu_holder > .menu_inner,
#mega_main_menu > .menu_holder > .menu_inner > ul
{
	font-size: 0px;
	letter-spacing: 0px;
	word-spacing: 0px;
	line-height: 0px;
	display: block;
	-webkit-backface-visibility: hidden;
}
#mega_main_menu > .menu_holder
{
	position: relative;
}
/*
#mega_main_menu > .menu_holder > .fullwidth_container
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 
}
#mega_main_menu.fullwidth-enable > .menu_holder > .fullwidth_container
{
	left: -3000px;
	right: auto;
	width: 8000px;
}
*/
#mega_main_menu > .menu_holder > .menu_inner > ul
{
	z-index: 2000;
	list-style: none;
	float: none;
	width: auto;
	position: relative;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
} 
#mega_main_menu.first-lvl-align-left > .menu_holder > .menu_inner > ul
{
	text-align: left;
}
#mega_main_menu.first-lvl-align-center > .menu_holder > .menu_inner > ul
{
	text-align: center;
}
#mega_main_menu.first-lvl-align-right > .menu_holder > .menu_inner > ul
{
	text-align: right;
}
/*
#mega_main_menu > .menu_holder > .menu_inner > ul *
*/
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link *
{
	font-size: inherit;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: inherit;
} 

#mega_main_menu ul:after
{
	content: ' ';
	display: table;
	clear: both;
	width: 100%;
	height: 0px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li .mega_dropdown .menu_item_without_text.disable_icon
{
	background-image: none !important;
	background-color: transparent !important;
	height: 0px;
	padding: 0px;
}
/* nav_logo */
#mega_main_menu.no-logo .nav_logo
{
	display: none;
}
#mega_main_menu .nav_logo
{
	display: block;
	vertical-align: top;
	float: left;
	position: relative;
	z-index: 2100;
}
#mega_main_menu .nav_logo .logo_link
{
	display: block;
	padding: 0px 17px;
	margin: 0px;
	vertical-align: middle;
	position: relative;
	z-index: 2100;
} 
#mega_main_menu .nav_logo .logo_link img 
{
	max-height: 99%;
	width: auto;
	max-width: 100%;
	position: relative;
	vertical-align: middle;
}
#mega_main_menu .nav_logo .mobile_toggle
{
	display: none;
}
/* nav_search_box */
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_search_box
{
	width: 68px;
	padding: 0px 17px;
	position: relative;
	float: right;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform
{
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 18px;
	z-index: 600;
	margin-top: -16px;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(128,128,128, 0.4);
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform .icosearch,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform .submit,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform .field
{
	display: block;
	height: 26px;
	line-height: 26px;
	padding: 0px;
	margin: 2px 0px;
	border-width: 0px;
	border-style: none;
	outline: none;
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform .icosearch,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform .submit
{
	position: absolute;
	right: 0px;
	width: 30px;
	text-align: center;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform .field
{
	width: 0px;
	max-width: 0px;
	padding-right: 30px;
	padding-left: 0px;
	cursor: pointer;
	position: relative;
	z-index: 10;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform .field:focus
{
	width: 160px;
	max-width: 160px;
	padding-left: 8px;
	cursor: text;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform .submit
{
	display: none;
}
/* nav_woo_cart */
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_woo_cart
{
	float: right;
}
#mega_main_menu.icons-disable_first_lvl > .menu_holder > .menu_inner > ul > li.nav_woo_cart > .item_link i
{
	float: left;
	display: block;
}
/* nav_buddypress */
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_buddypress
{
	float: right;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_buddypress > .item_link i,
#mega_main_menu.icons-disable_first_lvl > .menu_holder > .menu_inner > ul > li.nav_buddypress > .item_link i,
#mega_main_menu.icons-top > .menu_holder > .menu_inner > ul > li.nav_buddypress > .item_link i.ci-icon-buddypress-user
{
	float: left;
	display: block;
	padding: 0px;
	position: relative;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_buddypress .mega_notifications
{
	position: absolute;
	background-color: #E74C3C;
	color: #f8f8f8;
	width: 12px;
	height: 12px;
	bottom: 50%;
	right: -6px;
	font-size: 10px;
	font-style: normal;
	line-height: 10px;
	display: block;
	text-align: center;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_buddypress .mega_notifications.notification-none
{
	display: none;
}
/* FIRST LEVEL */
#mega_main_menu > .menu_holder > .menu_inner > ul > li
{
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	float: none;
	height: auto;
	width: auto;
	background-color: transparent;
	border: 0px none;
} 
#mega_main_menu > .menu_holder > .menu_inner > ul > li[class*="columns"] 
{
	width: auto;
} 
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link 
{
	text-shadow:none;
	text-transform: none;
	position: relative;
	display: block;
	padding: 0px 17px;
	margin: 0px;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
}
#mega_main_menu.icons-top > .menu_holder > .menu_inner > ul > li > .item_link.menu_item_without_text > i,
#mega_main_menu.icons-top > .menu_holder.sticky_container > .menu_inner > ul > li.nav_buddypress > .item_link i.ci-icon-buddypress-user,
#mega_main_menu.icons-top.primary_style-buttons > .menu_holder > .menu_inner > ul > li.nav_buddypress > .item_link i.ci-icon-buddypress-user
{
	padding-top: 0px !important;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li > p,
#mega_main_menu > .menu_holder > .menu_inner > ul > li > br,
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link > br,
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link > span > br,
/*
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link > span > .link_text > br,
*/
#mega_main_menu > .menu_holder > .menu_inner ul.mega_dropdown > p,
#mega_main_menu > .menu_holder > .menu_inner ul.mega_dropdown > br,
#mega_main_menu > .menu_holder > .menu_inner ul.mega_dropdown > li > p,
#mega_main_menu > .menu_holder > .menu_inner ul.mega_dropdown > li > br,
#mega_main_menu > .menu_holder > .menu_inner ul.mega_dropdown > li > .item_link > p,
#mega_main_menu > .menu_holder > .menu_inner ul.mega_dropdown > li > .item_link > br,
#mega_main_menu > .menu_holder > .menu_inner ul.mega_dropdown > li > .item_link > span > br,
#mega_main_menu > .menu_holder > .menu_inner ul.mega_dropdown > li > .item_link > span > .link_text > br
{
	display: none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li span.item_link
{
	cursor: default;
} 
#mega_main_menu > .menu_holder > .menu_inner > ul > li .item_link
{
	width: auto;
	height: auto;
} 
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link.with_icon i 
{
	display: block;
	line-height: inherit;
	text-align: center;
	margin: 0px;
}
#mega_main_menu.icons-left > .menu_holder > .menu_inner > ul > li > .item_link.with_icon i 
{
	float: left;
	padding-right: 15px;
}
#mega_main_menu.icons-right > .menu_holder > .menu_inner > ul > li > .item_link.with_icon i 
{
	float: right;
	padding-left: 17px;
}
#mega_main_menu.icons-left > .menu_holder > .menu_inner > ul > li > .item_link.with_icon.menu_item_without_text i,
#mega_main_menu.icons-right > .menu_holder > .menu_inner > ul > li > .item_link.with_icon.menu_item_without_text i 
{
	padding-left: 0px;
	padding-right: 0px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link > span
{
	display: block;
	float: left;
	padding: 0px;
	position: static;
	border: 0px none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link .link_text
{
	white-space: normal;
	display: table-cell;
	line-height: 120%;
	vertical-align: middle;
	position: static;
	padding: 0px;
	border: 0px none;
}
#mega_main_menu > .menu_holder > .menu_inner .item_link > span > .link_text > .link_descr
{
	display: block;
	float: none;
	font-size: 80%;
	white-space: pre-line;
	margin-top: 2px;
}
#mega_main_menu .menu_item_without_text > span, 
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link.menu_item_without_text > span,
#mega_main_menu .menu_item_without_text .link_text 
{
	display: none;
}
#mega_main_menu.icons-disable_first_lvl > .menu_holder > .menu_inner > ul > li > .item_link.with_icon i, 
#mega_main_menu.icons-disable_globally > .menu_holder > .menu_inner > ul > li > .item_link.with_icon i, 
#mega_main_menu.icons-disable_globally > .menu_holder > .menu_inner > ul > li .mega_dropdown .item_link.with_icon > i, 
#mega_main_menu.icons-disable_globally > .menu_holder > .menu_inner > ul > li > .mega_dropdown .processed_image > .cover > a > i,
#mega_main_menu.icons-disable_globally > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li > .item_link > i
{
	display: none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link.disable_icon i, 
#mega_main_menu > .menu_holder > .menu_inner > ul > li[class*="dropdown"] .mega_dropdown > li > .item_link.disable_icon > i,
#mega_main_menu a.disable_icon > i 
{
	display: none;
}
#mega_main_menu ul > li a, 
#mega_main_menu ul > li > .mega_dropdown a 
{
	text-decoration: none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link:after
{
	font-family: moon;
	content: '\e3b6';
	text-align: center;
	display: block;
	width: 15px;
	font-size: 12px;
	position: absolute;
	top: 0px;
	right: 1px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_woo_cart > .item_link:after,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_buddypress > .item_link:after,
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link:last-child:after
{
	display: none;
}
/* separator */
#mega_main_menu.direction-horizontal > .menu_holder > .menu_inner > ul > li > .item_link:before,
#mega_main_menu.direction-horizontal > .menu_holder > .menu_inner > .nav_logo:before,
#mega_main_menu.direction-horizontal > .menu_holder > .menu_inner > ul > li.nav_search_box:before
{
	content: ' ';
	width: 2px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
	position: absolute;
	top: 0px;
	bottom: auto;
	z-index: 2;
	border-width: 0px;
	border-style: none;
	background-repeat: no-repeat;
	background-size: 400% 100%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAyCAYAAABh7ppAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOdJREFUeNqk0ssKhCAUBuC8zbaIossDzqN3oYii3ZiZQYuU+m0ocOHx4/ekEq11cPURQr77Gj0X53ne5+xcs8A4jsytWZO+75mbwM+Ttm2524tVaJoGg6qq9jm5BXVde4GAwPSAQdd13P11CwzDICCYpknAg5JSfmCC+XDCE8Dd2lXCf4D6trgC4nUCBAy+6mORIkB9CasZCgF1oNuTVL7rXuCbfAqCV0CaoV+B5UnC6gPqFgghfvDZh2GIE+I4lvAu0jTFR53nuYSgKAovwFuUZYkvy/SAQZZlGCRJoiCIoki5TW4CDACPvE4qiEdEewAAAABJRU5ErkJggg==);
}
#mega_main_menu.direction-horizontal.first-lvl-separator-none > .menu_holder > .menu_inner > ul > li:last-child > .item_link:before, 
#mega_main_menu.direction-horizontal.first-lvl-separator-none > .menu_holder > .menu_inner > ul > li > .item_link:before,
#mega_main_menu.direction-horizontal.first-lvl-separator-none > .menu_holder > .menu_inner > .nav_logo:before,
#mega_main_menu.direction-horizontal.first-lvl-separator-none > .menu_holder > .menu_inner > ul > li.nav_search_box:before
{
	background-position: 0px 0px;
}
#mega_main_menu.direction-horizontal.first-lvl-separator-smooth > .menu_holder > .menu_inner > ul > li:last-child > .item_link:before, 
#mega_main_menu.direction-horizontal.first-lvl-separator-smooth > .menu_holder > .menu_inner > ul > li > .item_link:before,
#mega_main_menu.direction-horizontal.first-lvl-separator-smooth > .menu_holder > .menu_inner > .nav_logo:before,
#mega_main_menu.direction-horizontal.first-lvl-separator-smooth > .menu_holder > .menu_inner > ul > li.nav_search_box:before
{
	background-position: -3px 0px;
}
#mega_main_menu.direction-horizontal.first-lvl-separator-sharp > .menu_holder > .menu_inner > ul > li:last-child > .item_link:before, 
#mega_main_menu.direction-horizontal.first-lvl-separator-sharp > .menu_holder > .menu_inner > ul > li > .item_link:before,
#mega_main_menu.direction-horizontal.first-lvl-separator-sharp > .menu_holder > .menu_inner > .nav_logo:before,
#mega_main_menu.direction-horizontal.first-lvl-separator-sharp > .menu_holder > .menu_inner > ul > li.nav_search_box:before
{
	background-position: -6px 0px;
}
#mega_main_menu.direction-horizontal.first-lvl-align-left > .menu_holder > .menu_inner > .nav_logo:before
{
	right: -1px;
	left: auto;
}
#mega_main_menu.direction-horizontal > .menu_holder > .menu_inner > ul > li > .item_link:before, 
/*
#mega_main_menu.direction-horizontal > .menu_holder > .menu_inner > ul > li.nav_woo_cart > .item_link:after, 
#mega_main_menu.direction-horizontal > .menu_holder > .menu_inner > ul > li.nav_buddypress > .item_link:after,
*/
#mega_main_menu.direction-horizontal > .menu_holder > .menu_inner > ul > li.nav_search_box:before
{
	left: -1px;
	right: auto;
}
#mega_main_menu.primary_style-buttons > .menu_holder > .menu_inner > ul > li > .item_link:before,
#mega_main_menu.first-lvl-align-left.primary_style-buttons > .menu_holder > .menu_inner > .nav_logo:before,
#mega_main_menu.language_direction-rtl.first-lvl-align-left > .menu_holder > .menu_inner > .nav_logo:before,
#mega_main_menu.language_direction-rtl.first-lvl-align-center > .menu_holder > .menu_inner > .nav_logo:before,
#mega_main_menu.primary_style-buttons > .menu_holder > .menu_inner > ul > li.nav_search_box:before,
#mega_main_menu.direction-horizontal > .menu_holder > .menu_inner > ul > li:first-child > .item_link:before
/*
#mega_main_menu.direction-horizontal > .menu_holder > .menu_inner > ul > li.nav_search_box:before
*/
{
	display: none;
}

/* Navigation Dropdown variations */ 
/* DROPDOWNS */ 
#mega_main_menu ul > li > .mega_dropdown 
{
	position: absolute;
	margin: 0px;
	z-index: 5000;
	top: 100%;
	float: none;
	visibility: visible;
	opacity: 1;
}
#mega_main_menu ul > li ul
{
	text-align: left;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li .mega_dropdown > li
{
	margin: 0px;
	list-style: none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown > ul,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown li > ul,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown > ul,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown > ul,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown > ul,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown > li.post_item:hover .post_details,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li:hover .post_details
{
	-webkit-box-shadow: 0px 4px 13px -3px #808080;
	-moz-box-shadow: 0px 4px 13px -3px #808080;
	-ms-box-shadow: 0px 4px 13px -3px #808080;
	-o-box-shadow: 0px 4px 13px -3px #808080;
	box-shadow: 0px 4px 13px -3px #808080;
	list-style: none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul li > .item_link:hover
{
	box-shadow: none;
	float: none;
	text-decoration: none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul li > a.item_link:hover
{
	cursor: pointer;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li .item_link .link_text > *
{
	max-width: 100%;
	max-height: 100%;
	margin: 0px;
}
/* default_dropdown */
#mega_main_menu > .menu_holder > .menu_inner > ul > li
{
	position: relative;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown > ul
{
	position: absolute;
	top: 100%;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown li
{
	position: relative;
	height: auto;
	float: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown
{
	width: 205px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_right .mega_dropdown
{
	left: 0px;
	right: auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_right > .mega_dropdown .mega_dropdown
{
	top: 0px;
	left: 100%;
	right: auto;
	margin-left: 4px;
	margin-right: 0px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_left .mega_dropdown
{
	left: auto;
	right: 0px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_left > .mega_dropdown .mega_dropdown
{
	top: 0px;
	left: auto;
	right: 100%;
	margin-left: 0px;
	margin-right: 4px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown > li > .item_link
{
	display: block;
	float: none;
	padding: 6px 10px;
	margin: 0px;
	position: relative;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	width: auto;
	height: auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown > li > .item_link span
{
	padding: 0px;
	vertical-align: middle;
	position: relative;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown > li:last-child > .item_link
{
	border-width: 0px;
	border-style: none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_right .mega_dropdown li > .item_link
{
	padding-right: 15px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_left .mega_dropdown li > .item_link
{
	padding-left: 15px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown li > .item_link:before
{
	font-family: FontAwesome;
	text-align: center;
	display: block;
	width: 15px;
	font-size: 10px;
	line-height: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	margin-top: -5px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_right .mega_dropdown li > .item_link:before
{
	content: '\f105';
	right: 1px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_left .mega_dropdown li > .item_link:before
{
	content: '\f104';
	left: 1px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown li > .item_link:last-child:before
/*
,
#mega_main_menu > .menu_holder > .menu_inner > ul > li .mega_dropdown li > .item_link:after
*/
{
	display: none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown > li > .item_link > i
{
	display: block;
	float: left;
	position: absolute;
	top: 50%;
/*
	width: 15px;
*/
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown > li > .item_link.with_icon > span
{
	display: block;
/*
	margin-left: 25px;
*/
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown > .mega_dropdown ul.mega_dropdown > li:first-child > .item_link:after
{
	content: ' ';
	display: block;
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_right > .mega_dropdown ul.mega_dropdown > li:first-child > .item_link:after
{
	left: -4px;
	right: auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_left > .mega_dropdown ul.mega_dropdown > li:first-child > .item_link:after
{
	left: auto;
	right: -4px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.submenu_full_width
{
	position: static;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.submenu_full_width > .mega_dropdown
{
	width: 100%;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.submenu_full_width > .mega_dropdown .mega_dropdown
{
	width: auto;
	position: static;
	display: block;
	margin: 0px 0px 0px 35px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.submenu_full_width > .mega_dropdown ul.mega_dropdown > li:first-child > .item_link:after
{
	display: none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_right .mega_dropdown .mega_dropdown
{
	border-top-left-radius: 0px !important;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_left .mega_dropdown .mega_dropdown
{
	border-top-right-radius: 0px !important;
}
/* multicolumn_dropdown */ 
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown
{
	position: relative;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li .mega_dropdown > li .post_details
{
	width: 480px;
	padding: 0px;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	-o-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_buddypress.not_logged:hover > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown:hover > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > .item_link:hover + .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.mobile_active_parent > ul.mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown:hover > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown > .item_link:hover + .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.mobile_active_parent > ul.mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown:hover > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .item_link:hover + .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown.mobile_active_parent > ul.mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown:hover > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown > .item_link:hover + .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown.mobile_active_parent > ul.mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .mega_dropdown > li.post_item:hover .post_details,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown:hover > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown > .mega_dropdown > li:hover .post_details
{
	padding: 15px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_buddypress.not_logged:hover > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown:hover > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.mobile_active_parent > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > .item_link:hover + .mega_dropdown
{
	padding-bottom: 0px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.submenu_full_width.drop_to_center > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_right > .mega_dropdown
{
	left: 0px;
	right: auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_left > .mega_dropdown
{
	left: auto;
	right: 0px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_center > .mega_dropdown
{
	left: -150%;
	right: auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > .mega_dropdown > li
{
	float: left;
	display: inline-block;
	padding: 0px 5px 20px 5px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > .mega_dropdown > li ul
{
	position: static;
	display: block;
	width: auto;
	box-shadow: none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > .mega_dropdown > li ul li
{
	display: block;
	width: 100%;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown .mega_dropdown > li > .item_link
{
	display: block;
	padding: 6px 10px;
	margin: 0px;
	width: auto;
	height: auto;
	position: relative;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown .mega_dropdown > li > .item_link > i
{
	display: block;
	float: left;
	text-align: center;
	position: absolute;
	top: 50%;
/*
	width: 15px;
*/
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown .mega_dropdown > li > .item_link > span
{
	display: block;
	vertical-align: middle;
/*
	margin-left: 25px;
*/
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown .mega_dropdown > li > .item_link.disable_icon > span,
#mega_main_menu ul li .mega_dropdown > li > .item_link.disable_icon > span,
#mega_main_menu.icons-disable_globally > .menu_holder > .menu_inner > ul > li .mega_dropdown > li > .item_link > span,
#mega_main_menu.icons-disable_globally > .menu_holder > .menu_inner > ul > li .mega_dropdown > li > .item_link.with_icon > span
{
	margin: 0px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.submenu_full_width
{
	position: static;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.submenu_full_width > .mega_dropdown
{
	width: 100%;
}
/* post_type_dropdown */
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown.submenu_full_width.drop_to_center > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown.drop_to_right > .mega_dropdown
{
	left: 0px;
	right: auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown.drop_to_left > .mega_dropdown
{
	left: auto;
	right: 0px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown.drop_to_center > .mega_dropdown
{
	left: -150%;
	right: auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown > li.post_item
{
	position: static;
	float: left;
	padding: 1px;
	min-width: inherit;
	background: none;
	clear: none;
	border: 0px none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown > li > .item_link,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown > li > .item_link > i
{
	display: block;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown > li > .item_link
{
	display: block;
	position: relative;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
	border: 0px none;
	min-width: 0%;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown > li > .item_link > img
{
	opacity: 0;
	width: 100%;
	height: auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown > li > .item_link > i
{
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 24px;
	line-height: 24px;
	margin-left: -12px;
	margin-top: -12px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown > li.post_item .post_details
{
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown.submenu_full_width
{
	position: static;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown.submenu_full_width > .mega_dropdown
{
	width: 100%;
}
/* grid_dropdown */
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown.submenu_full_width.drop_to_center > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown.drop_to_right > .mega_dropdown
{
	left: 0px;
	right: auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown.drop_to_left > .mega_dropdown
{
	left: auto;
	right: 0px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown.drop_to_center > .mega_dropdown
{
	left: -150%;
	right: auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li
{
	float: left;
	padding: 1px;
	position: static;
	border: 0px none;
	background: none;
	clear: none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li > .item_link
{
	display: block;
	position: relative;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
	border: 0px none;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li > .item_link > img
{
	opacity: 0;
	width: 100%;
	height: auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li > .item_link > i
{
	display: block;
	width: 24px;
	height: 24px;
	font-size: 24px;
	line-height: 24px;
	margin-left: -12px;
	margin-top: -12px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li .post_details
{
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown.submenu_full_width
{
	position: static;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown.submenu_full_width > .mega_dropdown
{
	width: 100%;
}
/* post_details */
#mega_main_menu > .menu_holder > .menu_inner > ul > li .post_details > .post_icon,
#mega_main_menu > .menu_holder > .menu_inner > ul > li .post_details > .post_icon > i
{
	float: left;
	width: 44px;
	height: 44px;
	line-height: 44px;
	font-size: 36px;
	text-align: center;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li .post_details > .processed_image
{
	margin-bottom: 15px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li .post_details > .post_title,
#mega_main_menu > .menu_holder > .menu_inner > ul > li .post_details > .post_description
{
	margin-left: 52px;
	line-height: 150%;
}
/* processed_image */
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .mega_dropdown .processed_image
{
	position: relative;
	overflow: hidden;
	line-height: 1px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .mega_dropdown .processed_image > img
{
	width: 100%;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .mega_dropdown .processed_image:hover > img
{
	opacity: 0.4;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .mega_dropdown .processed_image > .cover
{
	opacity: 0;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .mega_dropdown .processed_image:hover > .cover,
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .mega_dropdown .processed_image > .cover:hover
{
	opacity: 1;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .mega_dropdown .processed_image > .cover, 
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .mega_dropdown .processed_image > .cover > a
{
	background-color: transparent;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	min-width: 0%;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .mega_dropdown .processed_image > .cover > a > i
{
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -12px;
	margin-top: -12px;
	font-size: 24px;
	line-height: 24px;
}
/* widgets_dropdown */
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.submenu_full_width.drop_to_center > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.drop_to_right > .mega_dropdown
{
	left: 0px;
	right: auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.drop_to_left > .mega_dropdown
{
	left: auto;
	right: 0px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.drop_to_center > .mega_dropdown
{
	left: -150%;
	right: auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.submenu_full_width
{
	position: static;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.submenu_full_width > .mega_dropdown
{
	width: 100%;
}
/* dropdown columns */
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.columns1 > .mega_dropdown > li,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.columns2 > .mega_dropdown > li:nth-child(2n+3),
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.columns3 > .mega_dropdown > li:nth-child(3n+4),
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.columns4 > .mega_dropdown > li:nth-child(4n+5),
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.columns5 > .mega_dropdown > li:nth-child(5n+6),
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.columns6 > .mega_dropdown > li:nth-child(6n+7),
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.columns7 > .mega_dropdown > li:nth-child(7n+8),
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.columns8 > .mega_dropdown > li:nth-child(8n+9),
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.columns9 > .mega_dropdown > li:nth-child(9n+10),
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.columns10 > .mega_dropdown > li:nth-child(10n+11)
{
	clear: both;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown > .mega_dropdown > *
{
	float: left;
	margin: 0px 0px 20px 0px;
	padding: 0px 10px 0px 10px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.columns1 > .mega_dropdown > *
{
	width: 100%;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.columns2 > .mega_dropdown > *
{
	width: 50%;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.columns3 > .mega_dropdown > *,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.columns6 > .mega_dropdown > *,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.columns7 > .mega_dropdown > *
{
	width: 33.33%;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.columns4 > .mega_dropdown > *,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.columns8 > .mega_dropdown > *
{
	width: 25%;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.columns5 > .mega_dropdown > *,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.columns9 > .mega_dropdown > *,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.widgets_dropdown.columns10 > .mega_dropdown > *
{
	width: 20%;
}
/* ANIMATIONS */ 
/* none */
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li ul.mega_dropdown,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li.default_dropdown ul.mega_dropdown,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li.post_type_dropdown ul.mega_dropdown,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown > li.post_item .post_details,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li .post_details
{
	display: none;
}
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul li.mobile_active_parent > ul,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li:hover > ul,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li > .item_link:hover + ul,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li.default_dropdown:hover > ul,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li.default_dropdown > .item_link:hover + ul,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li.default_dropdown li:hover > ul,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li.default_dropdown li > .item_link:hover + ul,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li.post_type_dropdown:hover > ul,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .item_link:hover + ul,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown > li.post_item:hover .post_details,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li:hover .post_details,
#mega_main_menu.dropdowns_animation-none > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li > .item_link:hover + .post_details
{
	display: block;
}
/* Responsive */
@media (max-width: 1199px) {
	#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link,
	#mega_main_menu .nav_logo .logo_link,
	#mega_main_menu ul .nav_search_box
	{
		padding-left: 13px;
		padding-right: 13px;
	}
	#mega_main_menu.icons-left > .menu_holder > .menu_inner > ul > li > .item_link.with_icon i
	{
		padding-right: 10px;
	}
	#mega_main_menu.icons-right > .menu_holder > .menu_inner > ul > li > .item_link.with_icon i
	{
		padding-left: 10px;
	}
	#mega_main_menu ul .nav_search_box
	{
		width: 52px;
	}
	#mega_main_menu ul .nav_search_box #mega_main_menu_searchform
	{
		right: 10px;
	}
}
@media (max-width: 991px) {
	#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link,
	#mega_main_menu > .menu_holder > .menu_inner > .nav_logo .logo_link,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.nav_search_box
	{
		padding-left: 10px;
		padding-right: 10px;
	}
	#mega_main_menu.icons-left > .menu_holder > .menu_inner > ul > li > .item_link.with_icon i
	{
		padding-right: 8px;
	}
	#mega_main_menu.icons-right > .menu_holder > .menu_inner > ul > li > .item_link.with_icon i
	{
		padding-left: 8px;
	}
}
@media (max-width: 767px) {
	#mega_main_menu > .menu_holder > .menu_inner > ul li > .item_link:hover,
	#mega_main_menu > .menu_holder > .menu_inner > ul li
	{
		cursor: pointer;
	}
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner
	{
		width: auto !important;
	}
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > .nav_logo
	{
		float: none;
		display: block;
	}
	#mega_main_menu.responsive-enable.direction-horizontal.first-lvl-align-left > .menu_holder > .menu_inner > .nav_logo:before
	{
		display: none;
	}
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > .nav_logo:after
	{
		content: ' ';
		display: table;
		clear: both;
		width: 100%;
		height: 0px;
		position: relative;
	}
	#mega_main_menu.mobile_minimized-enable > .menu_holder > .menu_inner > ul > li.nav_woo_cart  > .item_link
	{
		border-radius: 0px !important;
	}
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li > .item_link:before 
	{
		display: none;
	}
	#mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > .nav_logo .logo_link
	{
		float: left;
	}
	#mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > .nav_logo .mobile_toggle
	{
		display: block;
		float: right;
		text-decoration: none;
	}
	#mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > .nav_logo .mobile_toggle .mobile_button
	{
		padding: 8px 15px;
		cursor: pointer;
		vertical-align: middle;
	}
	#mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > .nav_logo .mobile_toggle .mobile_button .symbol_cross,
	#mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > .nav_logo.mobile_menu_active .mobile_toggle .mobile_button .symbol_menu
	{
		display: none;
	}
	#mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > .nav_logo.mobile_menu_active .mobile_toggle .mobile_button .symbol_cross
	{
		display: inline;
	}
	#mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > ul
	{
		display: none;
	}
	#mega_main_menu.responsive-enable.mobile_minimized-enable .nav_logo.mobile_menu_active + ul
	{
		display: block;
	}
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li,
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li.nav_search_box
	{
		float: none;
		display: block;
		width: 100%;
	}
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li.nav_search_box > #mega_main_menu_searchform
	{
		position: relative;
		top: 0px;
		right: auto;
		display: inline-block;
		margin: 0px;
		width: 100%;
		float: none;
		vertical-align: middle;
	}
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li.nav_search_box > #mega_main_menu_searchform .field,
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li.nav_search_box > #mega_main_menu_searchform .field:focus
	{
		width: 100%;
		padding-left: 10px;
	}
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown,
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown .mega_dropdown,
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown,
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown,
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li.widgets_dropdown .mega_dropdown
	{
		width: 100%;
		position: relative;
		overflow: hidden;
		left: 0px !important;
		right: 0px !important;
		margin: 0px !important;
	}
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li > .item_link,
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li .mega_dropdown .item_link
	{
		float: none;
	}
	#mega_main_menu.responsive-enable.icons-top > .menu_holder > .menu_inner > ul > li > .item_link > span
	{
		float: none;
		width: 100%;
		text-align: center;
	}
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li.default_dropdown > .mega_dropdown ul.mega_dropdown > li:first-child > .item_link:after
	{
		display: none;
	}
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > .mega_dropdown > li
	{
		width: 100% !important;
	}
/*
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li > .mega_dropdown 
	{
		background-image: none !important;
	}
*/
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li.widgets_dropdown[class*="columns"] > .mega_dropdown > *
	{
		min-width: 100%;
	}
	/* ANIMATIONS */ 
	/* none */
	#mega_main_menu > .menu_holder > .menu_inner > ul > li ul.mega_dropdown,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown ul.mega_dropdown,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown ul.mega_dropdown,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown > li.post_item .post_details,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li .post_details
	{
		display: none;
	}
	#mega_main_menu > .menu_holder > .menu_inner > ul > li:hover > ul,
	#mega_main_menu > .menu_holder > .menu_inner > ul li.mobile_active_parent > ul.mega_dropdown,
	#mega_main_menu > .menu_holder > .menu_inner > ul li[class*="_dropdown"].mobile_active_parent > ul.mega_dropdown,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link:hover + ul,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown:hover > ul,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown > .item_link:hover + ul,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown li:hover > ul,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown li > .item_link:hover + ul,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown:hover > ul,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .item_link:hover + ul,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown > li.post_item:hover .post_details,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li:hover .post_details,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li > .item_link:hover + .post_details
	{
		display: block;
	}
}
@media (max-width: 480px) {
	#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > ul > li.widgets_dropdown[class*="columns"] > .mega_dropdown > *
	{
		min-width: 100%;
		width: 100%;
	}
}
@media (min-width: 768px) {
	#mega_main_menu.direction-horizontal > .menu_holder.sticky_container
	{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		border-radius: 0px;
		z-index: 2000;
		line-height: 0px;
		text-align: center;
	}
	.admin-bar #mega_main_menu.direction-horizontal > .menu_holder.sticky_container
	{
		top: 30px;
	}
	#mega_main_menu.direction-horizontal > .menu_holder.sticky_container > .menu_inner
	{
		display: inline-block;
	}
	#mega_main_menu.direction-horizontal.include-logo > .menu_holder.sticky_container > .menu_inner > .nav_logo,
	#mega_main_menu.direction-horizontal > .menu_holder.sticky_container > .menu_inner > .mega_main_menu_ul
	{
		vertical-align: top;
	}
	/* ANIMATIONS */ 
	/* transform-origin */
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.drop_to_right .mega_dropdown,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.drop_to_right .post_details
	{
		-webkit-transform-origin: 0% 0%;
		-moz-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
	}
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.drop_to_left .mega_dropdown,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.drop_to_left .post_details
	{
		-webkit-transform-origin: 100% 0%;
		-moz-transform-origin: 100% 0%;
		-ms-transform-origin: 100% 0%;
		-o-transform-origin: 100% 0%;
		transform-origin: 100% 0%;
	}
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.drop_to_center .mega_dropdown,
	#mega_main_menu > .menu_holder > .menu_inner > ul > li.drop_to_center .post_details
	{
		-webkit-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-o-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
	}
	/* anim_1 */
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.widgets_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .mega_dropdown > li.post_item .post_details,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.grid_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.grid_dropdown > .mega_dropdown > li .post_details
	{
		display: block;
		overflow: hidden;
		max-height: 0px;
		max-width: 0px;
		-webkit-transform: scaleY( 0 );
		-moz-transform: scaleY( 0 );
		-ms-transform: scaleY( 0 );
		-o-transform: scaleY( 0 );
		transform: scaleY( 0 );
		-webkit-transition: -webkit-transform 0.3s ease, max-height 0.3s step-end, max-width 0.3s step-end, padding 0.3s step-end;
		-o-transition: -o-transform 0.3s ease, max-height 0.3s step-end, max-width 0.3s step-end, padding 0.3s step-end;
		transition: transform 0.3s ease, max-height 0.3s step-end, max-width 0.3s step-end, padding 0.3s step-end;
	}
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul li.mobile_active_parent > ul,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.default_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.default_dropdown li:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.widgets_dropdown:hover .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.post_type_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .mega_dropdown > li.post_item:hover .post_details,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.grid_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_1 > .menu_holder > .menu_inner > ul > li.grid_dropdown > .mega_dropdown > li:hover .post_details
	{
		overflow: visible;
		max-height: 3000px;
		max-width: 3000px;
		-webkit-transform: scaleY( 1 );
		-moz-transform: scaleY( 1 );
		-ms-transform: scaleY( 1 );
		-o-transform: scaleY( 1 );
		transform: scaleY( 1 );
		-webkit-transition: -webkit-transform 0.5s ease, max-height 0s step-start, max-width 0s step-start, padding 0s step-start;
		-o-transition: -o-transform 0.5s ease, max-height 0s step-start, max-width 0s step-start, padding 0s step-start;
		transition: transform 0.5s ease, max-height 0s step-start, max-width 0s step-start, padding 0s step-start;
	}
	/* anim_2 */
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.widgets_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .mega_dropdown > li.post_item .post_details,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.grid_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.grid_dropdown > .mega_dropdown > li .post_details
	{
		display: block;
		overflow: hidden;
		max-height: 0px;
		max-width: 0px;
		opacity: 0;
		-webkit-transition: opacity 0.4s ease, max-height 0.4s step-end, max-width 0.4s step-end, padding 0.4s step-end;
		-o-transition: opacity 0.4s ease, max-height 0.4s step-end, max-width 0.4s step-end, padding 0.4s step-end;
		transition: opacity 0.4s ease, max-height 0.4s step-end, max-width 0.4s step-end, padding 0.4s step-end;
	}
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul li.mobile_active_parent > ul,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.default_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.default_dropdown li:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.widgets_dropdown:hover .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.post_type_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .mega_dropdown > li.post_item:hover .post_details,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.grid_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_2 > .menu_holder > .menu_inner > ul > li.grid_dropdown > .mega_dropdown > li:hover .post_details
	{
		overflow: visible;
		max-height: 3000px;
		max-width: 3000px;
		opacity: 1;
		-webkit-transition: opacity 0.5s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
		-o-transition: opacity 0.5s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
		transition: opacity 0.5s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
	}
	/* anim_3 */
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.widgets_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .mega_dropdown > li.post_item .post_details,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.grid_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.grid_dropdown > .mega_dropdown > li .post_details
	{
		display: block;
		overflow: hidden;
		max-height: 0px;
		max-width: 0px;
		opacity: 0;
		-webkit-transform: scale( 0 );
		-moz-transform: scale( 0 );
		-ms-transform: scale( 0 );
		-o-transform: scale( 0 );
		transform: scale( 0 );
		-webkit-transition: -webkit-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
		-o-transition: -o-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
		transition: transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
	}
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul li.mobile_active_parent > ul,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.default_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.default_dropdown li:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.widgets_dropdown:hover .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.post_type_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .mega_dropdown > li.post_item:hover .post_details,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.grid_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_3 > .menu_holder > .menu_inner > ul > li.grid_dropdown > .mega_dropdown > li:hover .post_details
	{
		overflow: visible;
		max-height: 3000px;
		max-width: 3000px;
		opacity: 1;
		-webkit-transform: scale( 1 );
		-moz-transform: scale( 1 );
		-ms-transform: scale( 1 );
		-o-transform: scale( 1 );
		transform: scale( 1 );
		-webkit-transition: -webkit-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
		-o-transition: -o-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
		transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
	}
	/* anim_4 */
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.widgets_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .mega_dropdown > li.post_item .post_details,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.grid_dropdown > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.grid_dropdown > .mega_dropdown > li .post_details
	{
		display: block;
		overflow: hidden;
		max-height: 0px;
		max-width: 0px;
		opacity: 0;
		-webkit-transform: translateY( 40px );
		-moz-transform: translateY( 40px );
		-ms-transform: translateY( 40px );
		-o-transform: translateY( 40px );
		transform: translateY( 40px );
		-webkit-transition: -webkit-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
		-o-transition: -o-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
		transition: transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
	}
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul li.mobile_active_parent > ul,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.default_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.default_dropdown li:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.widgets_dropdown:hover .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.post_type_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.post_type_dropdown > .mega_dropdown > li.post_item:hover .post_details,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.grid_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_4 > .menu_holder > .menu_inner > ul > li.grid_dropdown > .mega_dropdown > li:hover .post_details
	{
		overflow: visible;
		max-height: 3000px;
		max-width: 3000px;
		opacity: 1;
		-webkit-transform: translateY( 0px );
		-moz-transform: translateY( 0px );
		-ms-transform: translateY( 0px );
		-o-transform: translateY( 0px );
		transform: translateY( 0px );
		-webkit-transition: -webkit-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
		-o-transition: -o-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
		transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
	}
	/* anim_5 */
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.default_dropdown .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.widgets_dropdown .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown > li.post_item .post_details,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li .post_details
	{
		overflow: hidden;
		display: block;
		max-height: 0px;
		max-width: 0px;
		opacity: 0;
		-webkit-transform: perspective( 600px ) rotateX( -90deg );
		-moz-transform: perspective( 600px ) rotateX( -90deg );
		-ms-transform: perspective( 600px ) rotateX( -90deg );
		-o-transform: perspective( 600px ) rotateX( -90deg );
		transform: perspective( 600px ) rotateX( -90deg );
		-webkit-transition: -webkit-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
		-o-transition: -o-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
		transition: transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
	}
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul li.mobile_active_parent > ul,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li:hover > ul,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.default_dropdown:hover > ul,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.default_dropdown li:hover > ul,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown:hover .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.widgets_dropdown:hover .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.post_type_dropdown:hover > .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.post_type_dropdown .mega_dropdown > li.post_item:hover .post_details,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.grid_dropdown:hover .mega_dropdown,
	#mega_main_menu.dropdowns_animation-anim_5 > .menu_holder > .menu_inner > ul > li.grid_dropdown .mega_dropdown > li:hover .post_details
	{
		overflow: visible;
		max-height: 3000px;
		max-width: 3000px;
		opacity: 1;
		-webkit-transform: perspective( 600px ) rotateX( 0deg );
		-moz-transform: perspective( 600px ) rotateX( 0deg );
		-ms-transform: perspective( 600px ) rotateX( 0deg );
		-o-transform: perspective( 600px ) rotateX( 0deg );
		transform: perspective( 600px ) rotateX( 0deg );
		-webkit-transition: -webkit-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
		-o-transition: -o-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
		transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
	}
}

/* direction-vertical */
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > .nav_logo
{
	float: none;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > .nav_logo > .logo_link
{
	text-align: center;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li 
{
	display: block;
	float: none;
}
/* spans */
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li > .item_link > span
{
	float: none;
}
#mega_main_menu.direction-vertical.icons-left > .menu_holder > .menu_inner > ul > li > .item_link > span
{
	margin-left: 32px;
}
#mega_main_menu.direction-vertical.icons-right > .menu_holder > .menu_inner > ul > li > .item_link > span
{
	margin-right: 32px;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li > .item_link.disable_icon > span
{
	margin-right: 0px;
	margin-left: 0px;
}
#mega_main_menu.direction-vertical.first-lvl-align-left > .menu_holder > .menu_inner > ul > li > .item_link > span
{
	text-align: left;
}
#mega_main_menu.direction-vertical.first-lvl-align-right > .menu_holder > .menu_inner > ul > li > .item_link > span
{
	text-align: right;
}
#mega_main_menu.direction-vertical.first-lvl-align-center > .menu_holder > .menu_inner > ul > li > .item_link > span
{
	text-align: center;
}
/* separator */
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li > .item_link:before,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.nav_search_box:before
{
	content: ' ';
	width: 100%;
	height: 2px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	background-repeat: no-repeat;
	background-size: 100% 400%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAICAYAAAC73qx6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALdJREFUeNrsktEKhSAMQG/peosiirQPvJ9eRhHVY9NKQUOkD7jIFQ7bHpw7zOS6rk8MJ/mL/JrIvu/puq5knmcyjiMVQtC+7+kwDAbQNUzTRJdlgW3bABEzfQ8sNMh9iCXVnBplkQFoeXIAOIqiwKqqsGkayRhDzrlBdl1natm2razrWpVlqfI8P81G3GPEGyIc0pEFEV6kfBHXV3kyvoAv4jiCiC+yrsfTN56vpfnGIEJj2cgtwABi1Gtdj9WVSAAAAABJRU5ErkJggg==);
}
#mega_main_menu.direction-vertical.first-lvl-separator-none > .menu_holder > .menu_inner > ul > li > .item_link:before,
#mega_main_menu.direction-vertical.first-lvl-separator-none > .menu_holder > .menu_inner > ul > li.nav_search_box:before 
{
	background-position: 0px 0px;
}
#mega_main_menu.direction-vertical.first-lvl-separator-smooth > .menu_holder > .menu_inner > ul > li > .item_link:before,
#mega_main_menu.direction-vertical.first-lvl-separator-smooth > .menu_holder > .menu_inner > ul > li.nav_search_box:before  
{
	background-position: 0px -3px;
}
#mega_main_menu.direction-vertical.first-lvl-separator-sharp > .menu_holder > .menu_inner > ul > li > .item_link:before,
#mega_main_menu.direction-vertical.first-lvl-separator-sharp > .menu_holder > .menu_inner > ul > li.nav_search_box:before 
{
	background-position: 0px -6px;
}
/* nav_search_box */
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.nav_search_box
{
	width: 100%;
	padding: 0px 17px;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform
{
	width: 100%;
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px;
	vertical-align: middle;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform .field
{
	width: 100%;
	cursor: text;
	padding-left: 10px;
}
/* default_dropdown */
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.default_dropdown > ul
{
	top: 0px;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_right .mega_dropdown
{
	left: 100%;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_left .mega_dropdown
{
	right: 100%;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_center 
{
	position: relative;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_center .mega_dropdown
{
	left: 0px;
	right: 0px;
	width: 100%;
	position: relative;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_center > .mega_dropdown ul.mega_dropdown > li:first-child > .item_link:after
{
	display: none;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_center .mega_dropdown li > .item_link:before
{
	content: '\f107';
	right: 1px;
	top: 6px;
}
/* multicolumn_dropdown post_type_dropdown grid_dropdown widgets_dropdown */
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.post_type_dropdown
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.grid_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.widgets_dropdown
{
	position: relative;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.submenu_full_width.drop_to_center > .mega_dropdown, 
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_right > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_left > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.post_type_dropdown.submenu_full_width.drop_to_center > .mega_dropdown, 
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.post_type_dropdown.drop_to_right > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.post_type_dropdown.drop_to_left > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.grid_dropdown.submenu_full_width.drop_to_center > .mega_dropdown, 
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.grid_dropdown.drop_to_right > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.grid_dropdown.drop_to_left > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.widgets_dropdown.submenu_full_width.drop_to_center > .mega_dropdown, 
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.widgets_dropdown.drop_to_right > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.widgets_dropdown.drop_to_left > .mega_dropdown
{
	top: 0px;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_right > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.post_type_dropdown.drop_to_right > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.grid_dropdown.drop_to_right > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.widgets_dropdown.drop_to_right > .mega_dropdown
{
	left: 100%;
	right: auto;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_left > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.post_type_dropdown.drop_to_left > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.grid_dropdown.drop_to_left > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.widgets_dropdown.drop_to_left > .mega_dropdown
{
	right: 100%;
	left: auto;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_center > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.post_type_dropdown.drop_to_center > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.grid_dropdown.drop_to_center > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.widgets_dropdown.drop_to_center > .mega_dropdown
{
	position: relative;
	left: 0px;
	right: 0px;
	width: 100%;
}
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.submenu_full_width.drop_to_left > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.submenu_full_width.drop_to_right > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.post_type_dropdown.submenu_full_width.drop_to_left > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.post_type_dropdown.submenu_full_width.drop_to_right > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.grid_dropdown.submenu_full_width.drop_to_left > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.grid_dropdown.submenu_full_width.drop_to_right > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.widgets_dropdown.submenu_full_width.drop_to_left > .mega_dropdown,
#mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.widgets_dropdown.submenu_full_width.drop_to_right > .mega_dropdown
{
	width: 480px;
}
/* language_direction */
#mega_main_menu.language_direction-rtl *
{
	direction: rtl;
}
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li.nav_search_box
{
	direction: ltr;
}
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform
{
	left: 18px;
	right: auto;
	z-index: 600;
}
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform .icosearch
{
	left: 0px;
	right: auto;
}
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform .field
{
	padding-right: 0px;
	padding-left: 30px;
}
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li.nav_search_box #mega_main_menu_searchform .field:focus
{
	padding-right: 8px;
}
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li .mega_dropdown > li > .item_link > span
{
	text-align: right;
}
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li .mega_dropdown > li > .item_link.with_icon > span
{
	margin-left: 0px;
}
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li.nav_search_box,
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li.nav_woo_cart,
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li.nav_buddypress
{
	float: left;
}
#mega_main_menu.language_direction-rtl .nav_logo,
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li .mega_dropdown > li > .item_link > i,
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li .post_details > .post_icon, 
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li .post_details > .post_icon > i
{
	float: right;
}
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li .post_details > .post_title, 
#mega_main_menu.language_direction-rtl > .menu_holder > .menu_inner > ul > li .post_details > .post_description
{
	margin-left: 0px;
	margin-right: 52px;
	text-align: right;
}
#mega_main_menu.language_direction-rtl.direction-horizontal > .menu_holder > .menu_inner > ul > li > .item_link:before, 
#mega_main_menu.language_direction-rtl.direction-horizontal > .menu_holder > .menu_inner > ul > li.nav_search_box:before
{
	right: -1px;
	left: auto;
}
#mega_main_menu.language_direction-rtl.direction-horizontal > .menu_holder > .menu_inner > .nav_logo:before
{
	left: -1px;
	right: auto;
}
/* END */