@charset "UTF-8";

@font-face {
  font-family: "custom-font";
  src:url("../fonts/custom-font.eot");
  src:url("../fonts/custom-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/custom-font.woff") format("woff"),
    url("../fonts/custom-font.ttf") format("truetype"),
    url("../fonts/custom-font.svg#custom-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "custom-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "custom-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.icon-caddie-shop-shopping-streamline:before {
  content: "\e000";
}
.icon-caddie-shopping-streamline:before {
  content: "\e001";
}
.icon-camera-photo-polaroid-streamline:before {
  content: "\e002";
}
.icon-camera-photo-streamline:before {
  content: "\e003";
}
.icon-camera-streamline-video:before {
  content: "\e004";
}
.icon-chaplin-hat-movie-streamline:before {
  content: "\e005";
}
.icon-chef-food-restaurant-streamline:before {
  content: "\e006";
}
.icon-clock-streamline-time:before {
  content: "\e007";
}
.icon-cocktail-mojito-streamline:before {
  content: "\e008";
}
.icon-coffee-streamline:before {
  content: "\e009";
}
.icon-computer-imac:before {
  content: "\e00a";
}
.icon-computer-imac-2:before {
  content: "\e00b";
}
.icon-computer-macintosh-vintage:before {
  content: "\e00c";
}
.icon-drug-medecine-streamline-syringue:before {
  content: "\e00d";
}
.icon-handle-streamline-vector:before {
  content: "\e00e";
}
.icon-like-love-streamline:before {
  content: "\e00f";
}
.icon-music-speaker-streamline:before {
  content: "\e010";
}
.icon-remote-control-streamline:before {
  content: "\e011";
}
.icon-receipt-shopping-streamline:before {
  content: "\e012";
}
.icon-picture-streamline-1:before {
  content: "\e013";
}
.icon-picture-streamline:before {
  content: "\e014";
}
.icon-streamline-umbrella-weather:before {
  content: "\e015";
}
.icon-streamline-sync:before {
  content: "\e016";
}
.icon-streamline-suitcase-travel:before {
  content: "\e017";
}
.icon-speech-streamline-talk-user:before {
  content: "\e018";
}
.icon-stamp-streamline:before {
  content: "\e019";
}
.icon-settings-streamline-2:before {
  content: "\e01a";
}
.icon-shoes-snickers-streamline:before {
  content: "\e01b";
}
.icon-settings-streamline-1:before {
  content: "\e01c";
}
.icon-settings-streamline:before {
  content: "\e01d";
}
.icon-notebook-streamline:before {
  content: "\e01e";
}
.icon-paint-bucket-streamline:before {
  content: "\e01f";
}
.icon-painting-roll-streamline:before {
  content: "\e020";
}
.icon-painting-pallet-streamline:before {
  content: "\e021";
}
.icon-pen-streamline:before {
  content: "\e022";
}
.icon-pen-streamline-2:before {
  content: "\e023";
}
.icon-pen-streamline-3:before {
  content: "\e024";
}
.icon-photo-pictures-streamline:before {
  content: "\e025";
}
.icon-pen-streamline-1:before {
  content: "\e026";
}
.icon-music-note-streamline:before {
  content: "\e027";
}
.icon-monocle-mustache-streamline:before {
  content: "\e028";
}
.icon-japan-streamline-tea:before {
  content: "\e029";
}
.icon-laptop-macbook-streamline:before {
  content: "\e02a";
}
.icon-grid-lines-streamline:before {
  content: "\e02b";
}
.icon-frame-picture-streamline:before {
  content: "\e02c";
}
.icon-micro-record-streamline:before {
  content: "\e02d";
}
.icon-ipod-streamline:before {
  content: "\e02e";
}
.icon-ipod-music-streamline:before {
  content: "\e02f";
}
.icon-map-streamline-user:before {
  content: "\e030";
}
.icon-map-pin-streamline:before {
  content: "\e031";
}
.icon-ipod-mini-music-streamline:before {
  content: "\e032";
}
.icon-iphone-streamline:before {
  content: "\e033";
}
.icon-man-people-streamline-user:before {
  content: "\e034";
}
.icon-magnet-streamline:before {
  content: "\e035";
}
.icon-ipad-streamline:before {
  content: "\e036";
}
.icon-ink-pen-streamline:before {
  content: "\e037";
}
.icon-magic-magic-wand-streamline:before {
  content: "\e038";
}
.icon-macintosh:before {
  content: "\e039";
}
.icon-ibook-laptop:before {
  content: "\e03a";
}
.icon-home-house-streamline:before {
  content: "\e03b";
}
.icon-locker-streamline-unlock:before {
  content: "\e03c";
}
.icon-lock-locker-streamline:before {
  content: "\e03d";
}
.icon-headset-sound-streamline:before {
  content: "\e03e";
}
.icon-happy-smiley-streamline:before {
  content: "\e03f";
}
.icon-link-streamline:before {
  content: "\e040";
}
.icon-earth-globe-streamline:before {
  content: "\e041";
}
.icon-eat-food-fork-knife-streamline:before {
  content: "\e042";
}
.icon-eat-food-hotdog-streamline:before {
  content: "\e043";
}
.icon-edit-modify-streamline:before {
  content: "\e044";
}
.icon-email-mail-streamline:before {
  content: "\e045";
}
.icon-envellope-mail-streamline:before {
  content: "\e046";
}
.icon-eye-dropper-streamline:before {
  content: "\e047";
}
.icon-factory-lift-streamline-warehouse:before {
  content: "\e048";
}
.icon-first-aid-medecine-shield-streamline:before {
  content: "\e049";
}
.icon-food-ice-cream-streamline:before {
  content: "\e04a";
}
.icon-design-graphic-tablet-streamline-tablet:before {
  content: "\e04b";
}
.icon-design-pencil-rule-streamline:before {
  content: "\e04c";
}
.icon-diving-leisure-sea-sport-streamline:before {
  content: "\e04d";
}
.icon-delete-garbage-streamline:before {
  content: "\e04e";
}
.icon-database-streamline:before {
  content: "\e04f";
}
.icon-dashboard-speed-streamline:before {
  content: "\e050";
}
.icon-danger-death-delete-destroy-skull-stream:before {
  content: "\e051";
}
.icon-crown-king-streamline:before {
  content: "\e052";
}
.icon-crop-streamline:before {
  content: "\e053";
}
.icon-cook-pan-pot-streamline:before {
  content: "\e054";
}
.icon-computer-streamline:before {
  content: "\e055";
}
.icon-computer-network-streamline:before {
  content: "\e055";
}
.icon-computer-streamline:before {
  content: "\e056";
}
.icon-armchair-chair-streamline:before {
  content: "\e057";
}
.icon-arrow-streamline-target:before {
  content: "\e058";
}
.icon-backpack-streamline-trekking:before {
  content: "\e059";
}
.icon-bag-shopping-streamline:before {
  content: "\e05a";
}
.icon-barbecue-eat-food-streamline:before {
  content: "\e05b";
}
.icon-barista-coffee-espresso-streamline:before {
  content: "\e05c";
}
.icon-bomb-bug:before {
  content: "\e05d";
}
.icon-book-dowload-streamline:before {
  content: "\e05e";
}
.icon-book-read-streamline:before {
  content: "\e05f";
}
.icon-browser-streamline-window:before {
  content: "\e060";
}
.icon-brush-paint-streamline:before {
  content: "\e061";
}
.icon-bubble-comment-streamline-talk:before {
  content: "\e062";
}
.icon-bubble-love-streamline-talk:before {
  content: "\e063";
}
.icon-cittadinosymbols-webfont:before {
  content: "\e064";
}
.icon-cittadinosymbols-webfont-1:before {
  content: "\e065";
}
.icon-cittadinosymbols-webfont-2:before {
  content: "\e066";
}
.icon-cittadinosymbols-webfont-3:before {
  content: "\e067";
}
.icon-cittadinosymbols-webfont-4:before {
  content: "\e068";
}
.icon-cittadinosymbols-webfont-5:before {
  content: "\e069";
}
.icon-cittadinosymbols-webfont-6:before {
  content: "\e06a";
}
.icon-cittadinosymbols-webfont-7:before {
  content: "\e06b";
}
.icon-cittadinosymbols-webfont-8:before {
  content: "\e06c";
}
.icon-cittadinosymbols-webfont-9:before {
  content: "\e06d";
}
.icon-cittadinosymbols-webfont-10:before {
  content: "\e06e";
}
.icon-cittadinosymbols-webfont-11:before {
  content: "\e06f";
}
.icon-cittadinosymbols-webfont-12:before {
  content: "\e070";
}
.icon-cittadinosymbols-webfont-13:before {
  content: "\e071";
}
.icon-cittadinosymbols-webfont-14:before {
  content: "\e072";
}
.icon-cittadinosymbols-webfont-15:before {
  content: "\e073";
}
.icon-cittadinosymbols-webfont-16:before {
  content: "\e074";
}
.icon-cittadinosymbols-webfont-17:before {
  content: "\e075";
}
.icon-cittadinosymbols-webfont-18:before {
  content: "\e076";
}
.icon-cittadinosymbols-webfont-19:before {
  content: "\e077";
}
.icon-cittadinosymbols-webfont-20:before {
  content: "\e078";
}
.icon-cittadinosymbols-webfont-21:before {
  content: "\e079";
}
.icon-cittadinosymbols-webfont-22:before {
  content: "\e07a";
}
.icon-cittadinosymbols-webfont-23:before {
  content: "\e07b";
}
.icon-cittadinosymbols-webfont-24:before {
  content: "\e07c";
}
.icon-cittadinosymbols-webfont-25:before {
  content: "\e07d";
}
.icon-cittadinosymbols-webfont-26:before {
  content: "\e07e";
}
.icon-cittadinosymbols-webfont-27:before {
  content: "\e07f";
}
.icon-cittadinosymbols-webfont-28:before {
  content: "\e080";
}
.icon-cittadinosymbols-webfont-29:before {
  content: "\e081";
}
.icon-cittadinosymbols-webfont-30:before {
  content: "\e082";
}
.icon-cittadinosymbols-webfont-31:before {
  content: "\e083";
}
.icon-cittadinosymbols-webfont-32:before {
  content: "\e084";
}
.icon-cittadinosymbols-webfont-33:before {
  content: "\e085";
}
.icon-cittadinosymbols-webfont-34:before {
  content: "\e086";
}
.icon-cittadinosymbols-webfont-35:before {
  content: "\e087";
}
.icon-cittadinosymbols-webfont-36:before {
  content: "\e088";
}
.icon-cittadinosymbols-webfont-37:before {
  content: "\e089";
}
.icon-cittadinosymbols-webfont-38:before {
  content: "\e08a";
}
.icon-cittadinosymbols-webfont-39:before {
  content: "\e08b";
}
.icon-cittadinosymbols-webfont-40:before {
  content: "\e08c";
}
.icon-cittadinosymbols-webfont-41:before {
  content: "\e08d";
}
.icon-cittadinosymbols-webfont-43:before {
  content: "\e08f";
}
.icon-cittadinosymbols-webfont-42:before {
  content: "\e08e";
}
.icon-cittadinosymbols-webfont-44:before {
  content: "\e090";
}
.icon-cittadinosymbols-webfont-45:before {
  content: "\e091";
}
.icon-cittadinosymbols-webfont-46:before {
  content: "\e092";
}
.icon-cittadinosymbols-webfont-47:before {
  content: "\e093";
}
.icon-cittadinosymbols-webfont-48:before {
  content: "\e094";
}
.icon-cittadinosymbols-webfont-48:before {
  content: "\e094";
}
.icon-cittadinosymbols-webfont-49:before {
  content: "\e095";
}
.icon-cittadinosymbols-webfont-50:before {
  content: "\e096";
}
.icon-cittadinosymbols-webfont-51:before {
  content: "\e097";
}
.icon-cittadinosymbols-webfont-52:before {
  content: "\e098";
}
.icon-cittadinosymbols-webfont-53:before {
  content: "\e099";
}
.icon-cittadinosymbols-webfont-54:before {
  content: "\e09a";
}
.icon-cittadinosymbols-webfont-55:before {
  content: "\e09b";
}
.icon-cittadinosymbols-webfont-56:before {
  content: "\e09c";
}
.icon-cittadinosymbols-webfont-57:before {
  content: "\e09d";
}
.icon-cittadinosymbols-webfont-58:before {
  content: "\e09e";
}
.icon-cittadinosymbols-webfont-59:before {
  content: "\e09f";
}
.icon-cittadinosymbols-webfont-60:before {
  content: "\e0a0";
}
.icon-cittadinosymbols-webfont-61:before {
  content: "\e0a1";
}
.icon-banknote:before {
  content: "\e0a2";
}
.icon-bubble:before {
  content: "\e0a3";
}
.icon-bulb:before {
  content: "\e0a4";
}
.icon-calendar:before {
  content: "\e0a5";
}
.icon-camera:before {
  content: "\e0a6";
}
.icon-clip:before {
  content: "\e0a7";
}
.icon-clock:before {
  content: "\e0a8";
}
.icon-cloud:before {
  content: "\e0a9";
}
.icon-cup:before {
  content: "\e0aa";
}
.icon-data:before {
  content: "\e0ab";
}
.icon-diamond:before {
  content: "\e0ac";
}
.icon-display:before {
  content: "\e0ad";
}
.icon-news:before {
  content: "\e0ae";
}
.icon-note:before {
  content: "\e0af";
}
.icon-t-shirt:before {
  content: "\e0b0";
}
.icon-study:before {
  content: "\e0b1";
}
.icon-star:before {
  content: "\e0b2";
}
.icon-stack:before {
  content: "\e0b3";
}
.icon-world:before {
  content: "\e0b4";
}
.icon-sound:before {
  content: "\e0b5";
}
.icon-shop:before {
  content: "\e0b6";
}
.icon-vynil:before {
  content: "\e0b7";
}
.icon-video:before {
  content: "\e0b8";
}
.icon-search:before {
  content: "\e0b9";
}
.icon-settings:before {
  content: "\e0ba";
}
.icon-photo:before {
  content: "\e0bb";
}
.icon-user:before {
  content: "\e0bc";
}
.icon-tv:before {
  content: "\e0bd";
}
.icon-truck:before {
  content: "\e0be";
}
.icon-tag:before {
  content: "\e0bf";
}
.icon-paperplane:before {
  content: "\e0c0";
}
.icon-params:before {
  content: "\e0c1";
}
.icon-pen:before {
  content: "\e0c2";
}
.icon-phone:before {
  content: "\e0c3";
}
.icon-key:before {
  content: "\e0c4";
}
.icon-heart:before {
  content: "\e0c5";
}
.icon-food:before {
  content: "\e0c6";
}
.icon-fire:before {
  content: "\e0c7";
}
.icon-lab:before {
  content: "\e0c8";
}
.icon-like:before {
  content: "\e0c9";
}
.icon-location:before {
  content: "\e0ca";
}
.icon-lock:before {
  content: "\e0cb";
}
.icon-mail:before {
  content: "\e0cc";
}
.icon-megaphone:before {
  content: "\e0cd";
}
.icon-music:before {
  content: "\e0ce";
}
.icon-eye:before {
  content: "\e0cf";
}
.icon-trash:before {
  content: "\e0d0";
}
.icon-vallet:before {
  content: "\e0d1";
}
